## Basic setting up

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlalchemy
import datetime

In [2]:
listings = pd.read_csv("barcelona_listings.csv")

In [3]:
reviews = pd.read_csv("barcelona_reviews.csv")

In [4]:
calendar = pd.read_csv("barcelona_calendar.csv")

In [5]:
engine = create_engine("sqlite:///project.db")

In [6]:
def null_count(x):
    return listings[x].isna().sum() / len(listings[x])

def unique_count(x):
    return listings.nunique()# / listings.shape[0] * 100

#for i,c in enumerate(listings.columns):
 #   print(c, unique_count(c)[i])

## Import accommodates

In [4]:
df = pd.DataFrame(listings.accommodates.unique(), columns=["accommodates"])

In [5]:
df.to_sql("Accommodation", engine, if_exists="append", index=False, dtype={"accommodates" : sqlalchemy.CHAR(32)})

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Accommodation.accommodates [SQL: 'INSERT INTO "Accommodation" (accommodates) VALUES (?)'] [parameters: ((6,), (8,), (2,), (3,), (4,), (5,), (10,), (1,)  ... displaying 10 of 16 total bound parameter sets ...  (14,), (15,))] (Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
engine.execute("select count(*) from Accommodation ").fetchall()

## Import amenities

In [83]:
amenities = pd.DataFrame(listings.amenities.unique(), columns=["amenities"])

In [84]:
temp = []
for index, row in amenities.iterrows():
    temp.append(row["amenities"].split(','))

In [85]:
flat_list = []
for sublist in temp:
    for item in sublist:
        flat_list.append(item)

In [140]:
def remove_chars(item):
    for c in item:
        if c == "{" or c == "}" or c == "'" or c == '"' or c == "[" or c == "]":
            item = item.replace(c, "")
        item = item.strip().lower()
    return item

In [87]:
new_list = []
for item in flat_list:
    new_list.append('"' + remove_chars(item) + '"')

In [88]:
new_list = list(set(new_list))

In [90]:
new_list.remove('""')

In [91]:
new_list

['"espresso machine"',
 '"handheld shower head"',
 '"carbon monoxide detector"',
 '"stair gates"',
 '"elevator"',
 '"pets live on this property"',
 '"baby monitor"',
 '"ski-in/ski-out"',
 '"disabled parking spot"',
 '"building staff"',
 '"coffee maker"',
 '"private pool"',
 '"smart lock"',
 '"gym"',
 '"day bed"',
 '"accessible-height bed"',
 '"warming drawer"',
 '"shared pool"',
 '"microwave"',
 '"cooking basics"',
 '"wheelchair accessible"',
 '"pack ’n play/travel crib"',
 '"electric profiling bed"',
 '"free street parking"',
 '"balcony"',
 '"pillow-top mattress"',
 '"bidet"',
 '"air conditioning"',
 '"hbo go"',
 '"baby bath"',
 '"washer"',
 '"private living room"',
 '"single level home"',
 '"beachfront"',
 '"outdoor parking"',
 '"netflix"',
 '"dishes and silverware"',
 '"bath towel"',
 '"cat(s)"',
 '"sun loungers"',
 '"table corner guards"',
 '"changing table"',
 '"bbq grill"',
 '"dishwasher"',
 '"luggage dropoff allowed"',
 '"memory foam mattress"',
 '"free parking on premises"',
 '"cable tv"',
 '"oven"',
 '"patio or balcony"',
 '"waterfront"',
 '"wide entryway"',
 '"translation missing: en.hosting_amenity_49"',
 '"projector and screen"',
 '"shared gym"',
 '"fax machine"',
 '"translation missing: en.hosting_amenity_50"',
 '"essentials"',
 '"heated floors"',
 '"cleaning before checkout"',
 '"pocket wifi"',
 '"toilet"',
 '"garden or backyard"',
 '"babysitter recommendations"',
 '"other pet(s)"',
 '"iron"',
 '"first aid kit"',
 '"wide doorway"',
 '"bathroom essentials"',
 '"beach view"',
 '"ethernet connection"',
 '"laptop friendly workspace"',
 '"lake access"',
 '"kitchen"',
 '"mobile hoist"',
 '"game console"',
 '"family/kid friendly"',
 '"smoking allowed"',
 '"standing valet"',
 '"firm mattress"',
 '"tv"',
 '"fixed grab bars for shower"',
 '"24-hour check-in"',
 '"fire extinguisher"',
 '"touchless faucets"',
 '"lockbox"',
 '"heated towel rack"',
 '"refrigerator"',
 '"private bathroom"',
 '"murphy bed"',
 '"crib"',
 '"pets allowed"',
 '"indoor fireplace"',
 '"fireplace guards"',
 '"wine cooler"',
 '"hammock"',
 '"pool with pool hoist"',
 '"bed linens"',
 '"roll-in shower"',
 '"wifi"',
 '"breakfast"',
 '"suitable for events"',
 '"ceiling fan"',
 '"formal dining area"',
 '"sound system"',
 '"full kitchen"',
 '"steam oven"',
 '"lock on bedroom door"',
 '"hair dryer"',
 '"buzzer/wireless intercom"',
 '"en suite bathroom"',
 '"kitchenette"',
 '"keypad"',
 '"private entrance"',
 '"washer / dryer"',
 '"window guards"',
 '"toilet paper"',
 '"self check-in"',
 '"air purifier"',
 '"mudroom"',
 '"safety card"',
 '"children’s dinnerware"',
 '"flat path to front door"',
 '"stove"',
 '"breakfast table"',
 '"room-darkening shades"',
 '"outlet covers"',
 '"dog(s)"',
 '"walk-in shower"',
 '"bathtub with bath chair"',
 '"body soap"',
 '"host greets you"',
 '"gas oven"',
 '"bedroom comforts"',
 '"other"',
 '"rain shower"',
 '"wide clearance to shower"',
 '"paid parking on premises"',
 '"hot water kettle"',
 '"beach essentials"',
 '"bathtub"',
 '"amazon echo"',
 '"ev charger"',
 '"mountain view"',
 '"hot water"',
 '"pool"',
 '"step-free access"',
 '"accessible-height toilet"',
 '"terrace"',
 '"well-lit path to entrance"',
 '"mini fridge"',
 '"doorman"',
 '"children’s books and toys"',
 '"pool cover"',
 '"sauna"',
 '"high chair"',
 '"outdoor seating"',
 '"shampoo"',
 '"smart tv"',
 '"dryer"',
 '"exercise equipment"',
 '"wide hallway clearance"',
 '"hot tub"',
 '"dvd player"',
 '"jetted tub"',
 '"long term stays allowed"',
 '"wide clearance to bed"',
 '"printer"',
 '"hangers"',
 '"internet"',
 '"smoke detector"',
 '"fixed grab bars for toilet"',
 '"soaking tub"',
 '"central air conditioning"',
 '"paid parking off premises"',
 '"extra pillows and blankets"',
 '"convection oven"',
 '"shower chair"',
 '"heating"']

In [92]:
amenities = pd.DataFrame(new_list, columns=["amenities"])

In [93]:
amenities.to_sql("Amenities", engine, if_exists="append", index=False, dtype={"amenities" : sqlalchemy.CHAR(32)})

In [24]:
listings.id.count()

13095

In [29]:
len(listings["amenities"].unique() == listings.amenities.unique())

11837

## Import Bathrooms

In [61]:
bathrooms = pd.DataFrame(listings.bathrooms.unique(), columns=["bathrooms"])

In [62]:
bathrooms = bathrooms.dropna()

In [63]:
bathrooms.to_sql("Bathrooms", engine, if_exists="append", index=False, dtype={"bathrooms" : sqlalchemy.FLOAT})

## Import Description

In [25]:
description = pd.DataFrame({"description_id": np.arange(len(listings.description)), "summary": listings.summary, "space": listings.space, "description": listings.description, "neighborhood_overview": listings.neighborhood_overview,"notes":listings.notes,"transit":listings.transit,"access":listings.access,"picture_url":listings.picture_url,"square_feet": listings.square_feet, "id": listings.id})

In [29]:
description["space"].fillna("",inplace=True)
description["neighborhood_overview"].fillna("",inplace=True)
description["description"].fillna("",inplace=True)
description["summary"].fillna("",inplace=True)
description["notes"].fillna("",inplace=True)
description["transit"].fillna("",inplace=True)
description["access"].fillna("",inplace=True)
description["picture_url"].fillna("",inplace=True)
description["square_feet"].fillna(-1,inplace=True)

In [32]:
description.to_sql("Described_Description", engine, if_exists="append", index=False, dtype={"description_id": sqlalchemy.INT, "summary": sqlalchemy.VARCHAR(1024), "space": sqlalchemy.VARCHAR(1024), "description": sqlalchemy.VARCHAR(1024), "neighborhood_overview": sqlalchemy.VARCHAR(1024),"notes":sqlalchemy.VARCHAR(1024),"transit": sqlalchemy.VARCHAR(1024),"access": sqlalchemy.VARCHAR(1024),"picture_url":sqlalchemy.CHAR(128),"square_feet": sqlalchemy.FLOAT, "id": sqlalchemy.INT})

## Import bedding

In [19]:
bedding = pd.DataFrame({"beds": listings.beds, "bed_type": listings.bed_type})

In [21]:
bedding = bedding.fillna(0).drop_duplicates()

In [22]:
bedding.to_sql("Bedding", engine, if_exists="append", index=False, dtype={"beds" : sqlalchemy.FLOAT, "bed_type" : sqlalchemy.CHAR(32)})

## Import Bedrooms

In [4]:
bedrooms = pd.DataFrame({"bedrooms": listings.bedrooms})

In [10]:
bedrooms = bedrooms.dropna().drop_duplicates()

In [11]:
bedrooms

      bedrooms
0          2.0
1          3.0
2          1.0
12         4.0
77         0.0
97         5.0
261       16.0
308        6.0
1436      12.0
2312       8.0
2527       7.0
2539       9.0
2788      10.0

In [12]:
bedrooms.astype(int)

      bedrooms
0            2
1            3
2            1
12           4
77           0
97           5
261         16
308          6
1436        12
2312         8
2527         7
2539         9
2788        10

In [13]:
bedrooms.to_sql("Bedrooms", engine, if_exists="append", index=False, dtype={"bedrooms" : sqlalchemy.INT})

## Import Room

In [14]:
room = pd.DataFrame({"room_type": listings.room_type})

In [17]:
room = room.drop_duplicates()

In [18]:
room.to_sql("Room", engine, if_exists="append", index=False, dtype={"room_type" : sqlalchemy.CHAR(32)})

## Import Property

In [19]:
prop = pd.DataFrame({"property_type": listings.property_type})

In [23]:
prop = prop.drop_duplicates()

In [24]:
prop.to_sql("Property", engine, if_exists="append", index=False, dtype={"propery_type" : sqlalchemy.CHAR(32)})

## Import Reviewer

In [29]:
reviewer = pd.DataFrame({"reviewer_id": reviews.reviewer_id, "reviewer_name" : reviews.reviewer_name})

In [50]:
reviewer = reviewer.drop_duplicates().drop(174201)

In [51]:
reviewer.to_sql("Reviewer", engine, if_exists="append", index=False, dtype={"reviewer_id" : sqlalchemy.INT, "reviewer_name" : sqlalchemy.CHAR(32)})

In [49]:
reviewer[reviewer.duplicated(['reviewer_id'], keep=False)]

        reviewer_id reviewer_name
174201      6148697     Casa Nuna
179938      6148697  Mi Casa Bali

## Import Reviewed TODO

In [54]:
reviewed = pd.DataFrame({"id": reviews.listing_id, "reviewer_id" : reviews.reviewer_id, "comments": reviews.comments, "review_date" : reviews.date})

In [55]:
reviewed

,id,reviewer_id,comments,review_date
0,18666,1559265,Very nice flat. We had easy transportation to ...,2015-10-10
1,18674,4841196,"Great location. Clean, spacious flat. Would re...",2013-05-27
2,18674,11600277,Mi mejor recomendación para este departamento....,2014-03-02
3,18674,35231385,"Big apartment, well equipped.\nVery good servi...",2015-08-04
4,18674,23223644,The Check in was fast and flexible. The price ...,2016-06-20
5,18674,4756672,Great location and enough space in the apartme...,2018-06-18
6,21605,57647372,Meritxell était très accueillante et nous a mi...,2016-05-08
7,21605,62165990,Con mi esposa nos hospedamos en casa de Michae...,2016-05-22
8,21605,67778905,Even though the hosts were not there at the mo...,2016-05-27
9,21605,64869468,La habitación es perfecta para una pareja y la...,2016-05-29
10,21605,19669204,"Todo estupendo. Meritxell muy amable, la habit...",2016-06-03
11,21605,59626397,We had a great experience in Meritxell's apart...,2016-06-04
12,21605,75713733,We had an amazing weekend in Meritxell's flat ...,2016-06-12
13,21605,39277628,Nice appartment and it was easy to move anywhe...,2016-06-17
14,21605,72054240,Meritxell nous a accueillis très chaleuresemen...,2016-06-26
15,21605,71270699,We were in Barcelona for two nights and had a ...,2016-06-27
16,21605,77456855,La chambre était très bien. Meritxell nous a a...,2016-07-01
17,21605,74347449,She was really friendly + free area's were ve...,2016-07-10
18,21605,79354117,Ringrazio Maritxell per l'ottimo alloggio che ...,2016-07-12
19,21605,68466442,Отдыхали с девушкой с 13 июля по 24 июля.\nНам...,2016-07-25
20,21605,63909173,"O bairro perigoso, bombeiros na frente bastant...",2016-07-25
21,21605,34289040,Very cozy flat with best location!\nAnd host w...,2016-07-31
22,21605,145279,Everything was fine. The host was really nice ...,2017-05-19
23,590503,9875065,Beautiful loft to stay in!,2017-10-29
24,21605,84013452,El sitio queda a unos 20 min caminando de la p...,2016-08-03
25,21605,10371743,Meritxell és muy amable. Me retrase en llegar ...,2016-08-12
26,21605,40564426,Nice apartment with good metro connection. Mer...,2016-08-18
27,21605,72627266,We had great 9 nights! Room was nice and very...,2016-08-27
28,21605,25534903,Meritxell and her husband were absolutely wond...,2016-08-30
29,21605,52098712,"I had a nice stay at Meritxell's place, she an...",2016-09-05
...,...,...,...,...
464444,29487421,222446288,Beautiful apartment in a very good location to...,2018-11-05
464445,29507732,134706625,"Nous fûmes très bien reçu, malgré l'heure tard...",2018-10-28
464446,29507732,222540934,Es una persona muy simpatica que nos ospedo co...,2018-10-31
464447,29511851,26196929,Willy is a super host. He's very nice and thou...,2018-10-31
464448,29511851,19360199,It is all exactly like described. Very good lo...,2018-11-04
464449,29514367,108356700,"Aceuil, emplacement propreté équipement rien à...",2018-10-28
464450,29528799,30440241,The host canceled this reservation 3 days befo...,2018-10-25
464451,29528799,44333499,The host canceled this reservation 64 days bef...,2018-10-25
464452,29528799,101904739,The host canceled this reservation 7 days befo...,2018-10-25
464453,29533614,5000992,Sid was an amazing host. He was very friendly ...,2018-10-31
464454,29533614,18240831,We were in Barcelona for my wife's birthday. W...,2018-11-01
464455,29535104,6359909,The host canceled this reservation 2 days befo...,2018-11-06
464456,29536652,118639504,saidi. Thank you for being a great host. You w...,2018-10-26
464457,29542227,201127021,"Excellent location in the city center, comfort...",2018-11-05
464458,29560594,996445,The host canceled this reservation 59 days bef...,2018-10-31
464459,29577981,3901585,"Benjamin's apt in Barcelona is very nice, clea...",2018-11-04
464460,29581629,213507244,John es muy simpático y atento a la hora de ll...,2018-10-28
464461,29581629,218440078,You can expect a very welcoming host who genui...,2018-11-02
464462,29581629,7528443,"John wait till i arrive to the apartment, that...",2018-11-04
464463,29582678,217532162,This room is really cozy and everything is cle...,2018-10-29
464464,29582678,97272012,de todos los alojamientos en Barcelona es la q...,2018-11-01
464465,29582678,171669879,"Alojarte con Coromoto, podra ser una buena ele...",2018-11-04
464466,29630561,214147325,The host canceled this reservation 55 days bef...,2018-11-02
464467,29649317,7232983,I absolutely love this AirBnB. The location is...,2018-11-02
464468,29649317,128931425,We could not have asked for a better penthouse...,2018-11-03
464469,29649317,5661828,Eiza is really great host for giving us chocol...,2018-11-04
464470,29649317,3591499,Eiza was a great host and has an excellent apa...,2018-11-05
464471,29649317,217218433,Eiza is a great flexible and responsible host....,2018-11-06
464472,29748400,183391807,The host canceled this reservation 14 days bef...,2018-11-03
464473,29847117,224518248,The host canceled this reservation 173 days be...,2018-11-07

In [58]:
reviewed[reviewed.duplicated(['id', "review_date", "reviewer_id"], keep=False)]

,id,reviewer_id,comments,review_date
134162,1996730,85117476,"El apartamiento es increible, muy espacioso y ...",2016-07-23
134163,1996730,85117476,La segunda vez que me quedo en su piso y como ...,2016-07-23
210431,3823973,24495890,The reservation was canceled 17 days before ar...,2015-03-08
210796,3823973,24495890,The reservation was canceled 24 days before ar...,2015-03-08
212882,3823973,24495890,The reservation was canceled 10 days before ar...,2015-03-08
263426,6449766,57829170,The host canceled this reservation 24 days bef...,2018-06-05
263427,6449766,57829170,The host canceled this reservation 33 days bef...,2018-06-05
378123,16347842,19641299,The host canceled this reservation 11 days bef...,2017-11-16
378124,16347842,19641299,The host canceled this reservation 7 days befo...,2017-11-16

#### We need to change the primary key to (id, reviewer_id, date) and decide what to do with the duplicates

## Import Pricing

In [118]:
pricing = pd.DataFrame({"price": listings.price, "weekly_price" : listings.weekly_price, "monthly_price": listings.monthly_price, "security_deposit" : listings.security_deposit, "cleaning_fee" : listings.cleaning_fee, "guests_included" : listings.guests_included, "extra_people" : listings.extra_people, "minimum_nights" : listings.minimum_nights, "maximum_nights" : listings.maximum_nights, "id" : listings.id})

In [119]:
for i in pricing.index:
    pricing.at[i, "price"] = float(str(pricing.at[i, "price"])[1:].replace(",", ""))
    if not pd.isnull(pricing.at[i, "weekly_price"]):
        pricing.at[i, "weekly_price"] = float(str(pricing.at[i, "weekly_price"])[1:].replace(",", ""))
    if not pd.isnull(pricing.at[i, "monthly_price"]):
        pricing.at[i, "monthly_price"] = float(str(pricing.at[i, "monthly_price"])[1:].replace(",", ""))
    if not pd.isnull(pricing.at[i, "security_deposit"]):
        pricing.at[i, "security_deposit"] = float(str(pricing.at[i, "security_deposit"])[1:].replace(",", ""))
    if not pd.isnull(pricing.at[i, "cleaning_fee"]):
        pricing.at[i, "cleaning_fee"] = float(str(pricing.at[i, "cleaning_fee"])[1:].replace(",", ""))
    if not pd.isnull(pricing.at[i, "extra_people"]):
        pricing.at[i, "extra_people"] = float(str(pricing.at[i, "extra_people"])[1:].replace(",", ""))

In [120]:
for i in pricing.index:
    if pd.isnull(pricing.at[i, "weekly_price"]):
        pricing.at[i, "weekly_price"] = pricing.at[i, "price"] * 7
    if pd.isnull(pricing.at[i, "monthly_price"]):
        pricing.at[i, "monthly_price"] = pricing.at[i, "price"] * 30
    if pd.isnull(pricing.at[i, "security_deposit"]):
        pricing.at[i, "security_deposit"] = 0
    if pd.isnull(pricing.at[i, "cleaning_fee"]):
        pricing.at[i, "cleaning_fee"] = 0

In [123]:
pricing.to_sql("Pricing", engine, if_exists="append", index=False, dtype={"price": sqlalchemy.FLOAT, "weekly_price" : sqlalchemy.FLOAT, "monthly_price": sqlalchemy.FLOAT, "security_deposit" : sqlalchemy.FLOAT, "cleaning_fee" : sqlalchemy.FLOAT, "guests_included" : sqlalchemy.INT, "extra_people" : sqlalchemy.FLOAT, "minimum_nights" : sqlalchemy.INT, "maximum_nights" : sqlalchemy.INT, "id" : sqlalchemy.INT})

## Import Verification

In [129]:
verification = pd.DataFrame(listings.host_verifications.unique(), columns=["host_verifications"])

In [133]:
temp = []
for index, row in verification.iterrows():
    temp.append(row["host_verifications"].split(','))

In [135]:
flat_list = []
for sublist in temp:
    for item in sublist:
        flat_list.append(item)

In [141]:
new_list = []
for item in flat_list:
    new_list.append('"' + remove_chars(item) + '"')

In [142]:
new_list = list(set(new_list))

In [147]:
new_list.remove('""')

In [148]:
new_list

['"google"',
 '"sesame"',
 '"phone"',
 '"government_id"',
 '"zhima_selfie"',
 '"jumio"',
 '"facebook"',
 '"photographer"',
 '"kba"',
 '"manual_offline"',
 '"offline_government_id"',
 '"selfie"',
 '"weibo"',
 '"work_email"',
 '"reviews"',
 '"sent_id"',
 '"sesame_offline"',
 '"manual_online"',
 '"identity_manual"',
 '"email"']

In [151]:
verification = pd.DataFrame({"host_verifications_id" : np.arange(len(new_list)), "host_verifications" : new_list})

In [152]:
verification.to_sql("Verification", engine, if_exists="append", index=False, dtype={"host_verifications_id" : sqlalchemy.INT, "host_verifications" : sqlalchemy.CHAR(32)})

## Import verified_by TODO

## Import Calendar

In [169]:
cal = pd.DataFrame({"cal_id" : np.arange(len(calendar.date.unique())), "date" : calendar.date.unique()})

In [171]:
for i in cal.index:
    cal.at[i, "date"] = datetime.datetime.strptime(str(cal.at[i, "date"]), "%Y-%m-%d").date()

In [173]:
cal.to_sql("Calendar", engine, if_exists="append", index=False, dtype={"cal_id" : sqlalchemy.INT, "date" : sqlalchemy.DATE})

## Import Available_at

In [191]:
date_mapping = {}
for i in cal.index:
    date_mapping[str(cal.at[i, "date"])] = cal.at[i, "cal_id"]

In [193]:
second_mapping = []
for i in calendar.index:
    second_mapping.append(date_mapping.get(calendar.at[i, "date"]))

In [212]:
avail = pd.DataFrame({"id" : calendar.listing_id, "cal_id" : second_mapping, "price" : calendar.price, "available" : calendar.available})

In [215]:
for i in avail.index:
    if not pd.isna(avail.at[i, "price"]):
        avail.at[i, "price"] = float(str(avail.at[i, "price"]).replace(",","").replace("$", ""))

In [217]:
avail = avail.fillna(-1)

In [219]:
avail.to_sql("Available_at", engine, if_exists="append", index=False, dtype={"id" : sqlalchemy.INT, "cal_id" : sqlalchemy.INT, "price" : sqlalchemy.INT, "available" : sqlalchemy.CHAR(1)})

## Import Policy TODO it has been imported but need to check for correctness

In [38]:
reduced = listings[["id", "is_business_travel_ready", "cancellation_policy", "require_guest_profile_picture", "require_guest_phone_verification"]]

In [41]:
policy_mapping = {}
for i, e in enumerate(reduced.cancellation_policy.unique()):
    policy_mapping[e] = i

{'flexible': 0, 'strict_14_with_grace_period': 1, 'moderate': 2, 'super_strict_30': 3, 'super_strict_60': 4, 'strict': 5}

In [44]:
policy_id = np.arange(len(listings.id))

In [45]:
reduced.insert(1, column="policy_id", value=policy_id)

In [55]:
for i in reduced.index:
    reduced.at[i, "policy_id"] = int(policy_mapping.get(reduced.at[i, "cancellation_policy"]))

In [24]:
[print("Hey") for i in reduced.index if reduced.at[i, "is_business_travel_ready"] == "t"]

[]

#### This means that we can probably drop the is_business_travel_ready column because no single listing is business ready
#### Because of the form of the data (boolean values directly mapped to listing id) it is not possible to put everything in one entity that is compressed, meaning that we keep only the unique values of the cancellation_policy. Tha's why I put them in a big inefficient table until the ER is modified to better accomodate this situation. I also set the primary key to be id, policy_id

In [57]:
reduced.to_sql("Policy", engine, if_exists="append", index=False, dtype={"id" : sqlalchemy.INT, "is_business_travel_ready" : sqlalchemy.CHAR(1), "cancellation_policy" : sqlalchemy.CHAR(32), "require_guest_profile_picture" : sqlalchemy.CHAR(1), "require_guest_phone_verification" : sqlalchemy.CHAR(1)})

## Import Score

In [70]:
score = pd.DataFrame({"review_scores_rating" : listings.review_scores_rating, "review_scores_accuracy" : listings.review_scores_accuracy, "review_scores_cleanliness" : listings.review_scores_cleanliness, "review_scores_checkin" : listings.review_scores_checkin, "review_scores_communication" : listings.review_scores_communication, "review_scores_location" : listings.review_scores_location, "review_scores_value" : listings.review_scores_value, "id" : listings.id})

#### There are many lines that are onlly NaN. I put -1 to every one of them and loaded it to the db because I wasn't sure how we wanted to handle it. Maybe we could even drop the lines that are all NaN.

In [71]:
score = score.fillna(-1)

In [72]:
score.to_sql("Score", engine, if_exists="append", index=False, dtype={"review_scores_rating" : sqlalchemy.INT, "review_scores_accuracy" : sqlalchemy.INT, "review_scores_cleanliness" : sqlalchemy.INT, "review_scores_checkin" : sqlalchemy.INT, "review_scores_communication" : sqlalchemy.INT, "review_scores_location" : sqlalchemy.INT, "review_scores_value" : sqlalchemy.INT, "id" : sqlalchemy.INT})